/* Estilo do sobre*/
section.sobre {
    padding: 40px 4%;

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
    
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}


.sobre .txt-sobre h2 span {
    color: #458efa;
    display: inline;
}

.sobre .txt-sobre p {
    margin: 10px 0;
    text-align:justify;
    font-size: 26px;
    letter-spacing: -1px;
    
}

