/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente */
}

section.topo-do-site .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 55px;
    line-height: 40px;
    
}

.topo-do-site .txt-topo-site h1 span {
    color: #458efa;
    text-align: center;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}



.txt-animado {
    font-size: 30px;
    padding: 20px;
}

.txt-animado span{
    position: relative;
}

.txt-animado {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

/* Texto animado */
.txt-animado span {
    color: #458efa;
    display: inline-block;
    position: relative;
}

/* Cursor piscando */
.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #458efa;
    animation: cursor 0.8s infinite, digita 1s steps(14) infinite alternate;
    background-color: #0d0d0d;
    right: 0;
    width: 0; /* Começa oculto */
}

/* Animação do cursor */
@keyframes cursor {
    0%, 100% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: #458efa;
    }
}

